---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1><a href="{{site.posts[0].url | prepend: site.baseurl }}">{{ site.posts[0].title }}</a></h1>
    <p class="meta">{{ site.posts[0].date | date: "%b %-d, %Y" }}
      {% if site.posts[0].author %}
        <a href="https://github.com/{{ site.posts[0].author }}">
          <span class="avatar" style="background-image: url({{ site.posts[0].author | append: '.png' | prepend: '/images/avatars/' | prepend: site.baseurl }})"></span>{{ site.posts[0].author }}
        </a>
      {% endif %}
      {% if site.posts[0].meta %}
        • {{ site.posts[0].meta }}
      {% endif %}
    </p>
  </header>

  <article class="post-content">
    {{ site.posts[0].excerpt }}
    {% if site.posts[0].content != site.posts[0].excerpt %}
      <a class="read-more" href="{{site.posts[0].url | prepend: site.baseurl }}">Read More &raquo;</a>
    {% endif %}
  </article>
</div>
<div class="home">
  <h2>Previously</h2>

  <ul class="posts">
    {% for post in site.posts %}
      {% if post != site.posts[0] %}
        <li>
          <div class="meta">
            <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
            {% if post.author %}
              <a href="https://github.com/{{ post.author }}">
                <span class="avatar" style="background-image: url({{ post.author | append: '.png' | prepend: '/images/avatars/' | prepend: site.baseurl }})"></span>{{ post.author }}
              </a>
            {% endif %}
          </div>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
